<%- include('../partials/header') %>
<% if (students) { %>
  <div class="std-att-tble-cont">
    <form action="/students/attendance" method="POST">
  <table class="table-style">
    <thead>
      <tr>
        <th>Students Attendance</th>
        <th>Today (<%= new Date().toLocaleDateString() %>)</th>
      </tr>
    </thead>
    <tbody>
        <% students.forEach((student) => { %>
          <tr>
            <td><%= student.name %></td>
            <td>
              <input type="checkbox" name="<%= student._id %>" value="true"> Present
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <button id="submit" type="submit">ADD ATTENDANCE</button>
  </form>
  </div>
  <% } else { %>
    <p>No students found.</p>
  <% } %>

  <%- include('../partials/footer') %>