<%- include('../partials/header') %>
<div class="std-edit-tble-cont">
  <h2>Modify the student details</h2>
  <table id="list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.email %></td>
        <td><%= student.phone %></td>
        <td><%= student.details ? 'Yes' : 'No' %></td>
      </tr>
    </tbody>
  </table>

  <form action="/students/<%= student._id %>" method="POST">
    <label for="name">Name:</label>
    <input id="name" type="text" name="name" value="<%= student.name %>" />
    <br />
    <label>Email:</label>
    <input id="email" type="text" name="email" />
    <br />
    <label for="phone">Phone-number</label>
    <input id="phone" type="text" name="phone" />
    <div class="checkbox">
    <label>Details Avaliable:</label>
    <input id="check" type="checkbox" name="Details" value="true" checked />
    </div>
    <div class="edt-edit-btns">
      <button>Update student</button>
      <button type="submit" formaction="/students/<%= student._id %>/delete">
        Delete student
      </button>
    </div>
  </form>
</div>

<%- include('../partials/footer') %>
