<%- include('../partials/header') %>
<link rel='stylesheet' href='/stylesheets1/style.css' />

  <a href="/students/new"><button id="ADD" type="submit">ADD STUDENT</button></a>
  <a href="/students"><button id="ADDALL" type="submit">ALL STUDENTS</button></a>


</section>
</form>
<h2>Instructor Details</h2>
<table id="list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone-Number</th>
    </tr>
  </thead>
  <tbody>
        <tr>
        <td><%= Student.name %></td>
        <td><%= Student.grade %></td>
        <td><%= Student.attendance %></td>
        </tr>

  </tbody>
</table>

<%- include('../partials/footer') %>
<h2>Student Report</h2>
<table id="list">
  <thead>
    <tr>
      <th>Name<br><a href="/students">Details</a></br></th>
      <th>Grade (%)<br><a href="/students/grade">Details</a></br></th>
      <th>Attendance (%)<br><a href="">Details</a></br></th>
    </tr>
  </thead>
  <tbody>
        <tr>
        <td><%= Student.name %></td>
        <td><%= Student.grade %></td>
        <td><%= Student.attendance %></td>
        </tr>

  </tbody>
</table>



<%- include('../partials/footer') %>