<%- include('../partials/header') %>
<link
	rel="stylesheet"
	href="/stylesheets1/style.css" />
<div class="instable">
	<h2>Instructor Details</h2>
	<table clas="table-style">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Phone-Number</th>
			</tr>
		</thead>
		<tbody>
			<% users.forEach( User => { %>
			<tr>
				<td><%= User.name %></td>
				<td><%= User.email %></td>
				<td><%= User.phone %></td>
				<td><%= User.details ? 'Yes' : 'No' %></td>
				<% }); %>
			</tr>
		</tbody>
	</table>
</div>
<div class="studtable">
	<h2>Student Report</h2>
	<table clas="table-style">
		<thead>
			<tr>
				<th>Name</th>
				<th>Grade (%)</th>
				<th>Grade Details</th>
				<th>attendance</th>
				<th>student details</th>
			</tr>
		</thead>
		<tbody>
			<% students.forEach( Student => { %>
			<tr>
				<td><%= Student.name %></td>

				<td><%= Student.total %></td>
				<td><a href="/homeworks/<%= Student._id %>">Grade Report</a></td>
				<td><%= Student.attendanceCount %></td>
				<td><a href="/students">Details</a></td>
			</tr>
			<% }); %>
		</tbody>
	</table>
</div>
<%- include('../partials/footer') %>
