
<%- include('../partials/header') %>
<link rel='stylesheet' href='/stylesheets1/style.css' />

  <a href="/students/new"><button id="ADD" type="submit">ADD STUDENT</button></a>
  <a href="/students"><button id="ADDALL" type="submit">ALL STUDENTS</button></a>


</section>
  <a href="/users/new"><button id="ADDALL" type="submit">ADD USER</button></a>
</form>
<h2>Instructor Details</h2>
<table id="list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone-Number</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach( User => { %>
      <tr>
      <td><%= User.name %></td>
      <td><%= User.email %></td>
      <td><%= User.phone %></td>
      <td><%= User.details ? 'Yes' : 'No' %></td>
      <% }); %>

  </tbody>
</table>

<%- include('../partials/footer') %>
<h2>Student Report</h2>
<table id="list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Details Availabe</th>
      <th>Grade (%)</th>
      <th>Attendance (%)</th>

    </tr>
  </thead>
  <tbody>
    <% students.forEach( Student => { %>
      <tr>
      <td><%= Student.name %></td>
      <td><%= Student.email %></td>
      <td><%= Student.phone %></td>
      <td><%= Student.details ? 'Yes' : 'No' %></td>
      <td><%= Student.totalGrade %></td>
      <td><a href="/homeworks">grade</a></td>
      <td><%= Student.attendance %></td>
      </tr>
      <% }); %>

      <a href="/students/grade"><button id="ADD" type="submit">Grade Report</button></a>


  </tbody>
</table>



<%- include('../partials/footer') %>