<%- include('../partials/header') %>
<link rel='stylesheet' href='/stylesheets1/style.css' />

<h2>User Details</h2>
<table clas="table-style">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach( User => { %>
      <tr>
      <td><%= User.name %></td>
      <td><%= User.email %></td>
      <% }); %>

  </tbody>
</table>

<h2>Student Report</h2>
<table clas="table-style">
  <thead>
    <tr>
      <th>Name</th>
      <th>Grade (%)</th>
      <th>Grade Details</th>
      <th>Days of attendance</th>
      <th>Modification</th>

    </tr>
  </thead>
  <tbody>
    <% students.forEach( Student => { %>
      <tr>
      <td><%= Student.name %></td>
      <td><%= Student.total %></td>
      <td><a href="/homeworks/<%= Student._id %>">Grade Report</a></td>
      <td><%= Student.attendanceCount %></td>
      <td><a href="/students">Details</a></td>
      <% }); %>
      

    </tr>
  </tbody>
</table>
<%- include('../partials/footer') %>



