<%- include('../partials/header') %>
<link rel='stylesheet' href='/stylesheets1/style.css' />



<div class="student-tables-cont">
  <div class="inst-det-header"><h2>Instructor(s) Details</h2></div>
<table class="hiddintable">
  <tr>
  <th>Name</th>
  <th>Email</th> 
</tr>
    <% users.forEach( User => { %>
    <tr>
      <th><%= User.name %></th>
      <th><%= User.email %></th>
    </tr>
      <% }); %>

    </table>

<h2>Student Report</h2>
<table class="student-details-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Grade (%)</th>
      <th>Grade Details</th>
      <th>Days of attendance</th>
      <th>Modification</th>
    </tr>
  </thead>
  <tbody>
    <% students.forEach( Student => { %>
      <tr>
      <td><%= Student.name %></td>
      <td><%= Student.total %></td>
      <td><a href="/homeworks/<%= Student._id %>">Grade Report</a></td>
      <td><%= Student.attendanceObject.status %></td>
      <td><a href="/students">Details</a></td>
      <% }); %>
      

    </tr>
  </tbody>
</table>
</div>
<%- include('../partials/footer') %>



