<h2>homeworks</h2>
<table id="list">
	<thead>
		<tr>
			<th>Student name</th>
			<th>homework name</th>
			<th>deliverTime</th>
			<th>gradeWaight</th>
			<th>description</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
		<% students.forEach((student) => { %>
			<tr>
			<td><%= student.name %></td>
		
		<% }); %>		  

		<% homeworks.forEach((homework) => { %>
		<tr>
			<td><%= homework.name %></td>
			<td><%= homework.deliverTime %></td>
			<td><%= homework.gradeWaight %></td>
			<td><%= homework.description %></td>
			<td><%= homework.total %></td>
			<td>
		</tr>
		<% }); %>
	</tbody>
</table>

<table class="grade-table">
	<thead>
	  <tr>
		<th>Student</th>
		<% let numHomeworks = 10 %>
	<% for (let i = 1; i <= numHomeworks; i++) { %>
        <th><%= i %></th>

      <% } %>
		<% let numProjects = 2 %>
		<% for (let i = 1; i <= numProjects; i++) { %>

		  <th><%= i %></th>
		<% } %>

	  <form action="/students/grade" method="POST">
		<tr>
		  <td colspan="<%= numHomeworks + numProjects + 1 %>">
			<button id="submit" type="submit">ADD GRADES</button>
		

<%- include('../partials/footer') %>
