<h2>homeworks</h2>
  <a href="/homeworks/:id/new"><button id="ADD" type="submit">ADD GRADE</button></a>
  <a href="/users/new"><button id="ADDALL" type="submit">ADD USER</button></a>
<table id="list">
	<thead>
		<tr>
			<th>Student name</th>
			<th>homework name</th>
			<th>deliverTime</th>
			<th>gradeWaight</th>
			<th>description</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
			<tr>
			<td><%= student.name %></td>
        </tr>
		<% homeworks.forEach((homework) => { %>
		<tr>
			<td><%= homework.name %></td>
			<td><%= homework.deliverTime %></td>
			<td><%= homework.gradeWaight %></td>
			<td><%= homework.description %></td>
			<td>
            <% }); %>
            <td><%= homeworks.total %></td>
		</tr>
		
	</tbody>
</table>

<%- include('../partials/footer') %>
