<%- include('../partials/header') %>
<div class="homework-std-name">
	<h1>Student Name: <%= student.name %></h1>
	<div class="add-grade-cont"><a href="/homeworks/new"><button id="ADD" type="submit">ADD GRADE</button></a></div>
</div>
<h2>homeworks</h2>
<div class="hws-table-container">
<table id="list">
	<thead>
		<tr>
			<th>homework name</th>
			<th>deliverTime</th>
			<th>gradeWaight</th>
			<th>description</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>

		<% homeworks.forEach((homework) => { %>
		<tr>
			<td><%= homework.name %></td>
			<td><%= homework.deliverTime %></td>
			<td><%= homework.gradeWaight %></td>
			<td><%= homework.description %></td>
			<td><%= homework.total%></td>
			<% }); %>
		</tr>

	</tbody>
</table>
</div>


<%- include('../partials/footer') %>

